.imgC {
  @include dims(desktop-vw(130px));
}

.title {
  color: var(--blue-ruin);
  font-family: var(--font-bomstad-display);
  font-size: desktop-vw(18px);
  font-weight: 900;
  line-height: 1;
}

.editQuantity {
  border: 1px solid var(--blue-ruin);
  border-radius: desktop-vw(8px);

  .quantity {
    @include dims(desktop-vw(36px));
    color: var(--blue-ruin);
    font-family: var(--font-poppins);
    font-size: desktop-vw(16px);
    font-weight: 600;
    line-height: 1;
  }
}
