.noticebar {
  width: 100%;
  height: var(--noticebar-height);
  background-color: var(--tertiary);
  font-family: var(--font-poppins);
  font-style: italic;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  transition: 400ms background-color ease;

  @media (max-width: 800px) {
    font-size: 0.75rem;
  }

  .iconC {
    margin-bottom: 0.125rem;

    @media (max-width: 800px) {
      margin-bottom: calc(2 / 375 * 100vw);
    }
  }
}
