.imgC {
  @include dims(auto, desktop-vw(90px));
  background-color: var(--sugar-milk);
  border-radius: desktop-vw(6px);
  padding: desktop-vw(10px);
  position: relative;
  transition: 400ms background-color ease;

  @include mobile {
    @include dims(mobile-vw(80px));
    border-radius: mobile-vw(6px);
    padding: mobile-vw(10px);
  }

  > img {
    position: relative;
    z-index: 15;
  }

  &.active {
    &::before {
      content: '';
      @include position(absolute, -1px, -1px, -1px, -1px);
      background-color: var(--bg-color);
      border-radius: inherit;
      opacity: 0.3;
      transition: 400ms background-color ease;
      z-index: 5;
    }

    &::after {
      content: '';
      @include position(absolute, 0, 0, 0, 0);
      background-color: var(--sugar-milk);
      border-radius: inherit;
      transition: 400ms background-color ease;
      z-index: 10;
    }
  }
}

.mainImgC {
  @include dims(auto, desktop-vw(520px));
  background-color: var(--sugar-milk);
  border-radius: desktop-vw(16px);
  padding: desktop-vw(70px) desktop-vw(60px);
  position: relative;
  transition: 400ms background-color ease;

  &::before {
    content: '';
    @include position(absolute, -1px, -1px, -1px, -1px);
    background-color: var(--bg-color);
    border-radius: inherit;
    opacity: 0.3;
    transition: 400ms background-color ease;
    z-index: 5;
  }

  &::after {
    content: '';
    @include position(absolute, 0, 0, 0, 0);
    background-color: var(--sugar-milk);
    border-radius: inherit;
    transition: 400ms background-color ease;
    z-index: 10;
  }

  .mainImg {
    position: relative;
    z-index: 15;
  }

  @include mobile {
    @include dims(auto, mobile-vw(320px));
    border-radius: mobile-vw(16px);
    padding: mobile-vw(40px);
  }
}
