.intro {
  @include dims(auto, calc(100vh - var(--header-height)));
  max-height: desktop-vw(700px);
  background: linear-gradient(to bottom, var(--blue-ruin), var(--columbia-blue));
  padding: desktop-vw(50px) desktop-vw(80px);
  padding-bottom: desktop-vw(100px);
  position: relative;

  @include tablet {
    @include dims(auto, desktop-vw(700px));
    padding: mobile-vw(50px) mobile-vw(16px);
    padding-bottom: mobile-vw(50px);
  }

  @include mobile {
    @include dims(auto);
    max-height: none;
  }

  .text {
    > h1 {
      color: var(--sugar-milk);
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(60px);
      font-weight: 700;
      line-height: 1;
      margin-bottom: desktop-vw(30px);

      @include mobile {
        font-size: mobile-vw(40px);
        line-height: 1;
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }
    }

    .might {
      display: inline-block;
      position: relative;

      > span {
        position: relative;
        z-index: 10;
      }

      &:before {
        content: "";
        @include position(absolute, 50%, auto, auto, 50%);
        @include dims(125%);
        background: url("../../../public/img/might.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-45%, -50%);
        z-index: 5;
      }
    }

    .best {
      display: inline-block;
      position: relative;

      > span {
        position: relative;
        z-index: 10;
      }

      &:before {
        content: "";
        @include position(absolute, auto, auto, -90%, 50%);
        @include dims(100%);
        background: url("../../../public/img/best.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(-50%);
        z-index: 5;
      }
    }

    > p {
      color: var(--sugar-milk);
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(24px);
      font-style: italic;
      font-weight: 600;
      line-height: 1.3;
      margin-bottom: desktop-vw(40px);
      z-index: 10;

      @include mobile {
        font-size: mobile-vw(24px);
        line-height: 1.5;
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }
    }

    .might {
      position: relative;

      //   &:before {
      //     content: "";
      //     @include position(absolute, 50%, auto, auto, 50%);
      //     transform: translate(-50%, -40%);
      //     @include dims(115%);
      //     background: url("../../public/img/might.svg");
      //     background-size: contain;
      //     background-repeat: no-repeat;
      //     z-index: 5;
      //   }
    }

    .best {
      position: relative;

      //   &:before {
      //     content: "";
      //     @include position(absolute, auto, auto, desktop-vw(-85px), 50%);
      //     transform: translateX(-50%);
      //     @include dims(100%);
      //     background: url("../../public/img/best.svg");
      //     background-size: contain;
      //     background-repeat: no-repeat;
      //     z-index: 5;
      //   }
    }
  }

  .imgC {
    @include dims(auto, desktop-vw(550px));

    @include mobile {
      @include dims(100%, mobile-vw(350px));
    }
  }

  .bg {
    @include position(absolute, auto, auto, 0, 50%);
    @include dims(desktop-vw(1700px), desktop-vw(400px));
    transform: translate(-50%, desktop-vw(250px));
    z-index: 100;

    @include mobile {
      @include dims(mobile-vw(800px), mobile-vw(200px));
      transform: translate(-50%, mobile-vw(150px));
    }
  }

  .cloud {
    @include position(absolute, auto, 0, 0, 0);
    @include dims(100%, desktop-vw(150px));
    z-index: 10;

    @include mobile {
      @include dims(100%, mobile-vw(100px));
    }
  }
}

.marquee {
  @include dims(100%, auto);
  background-color: var(--cherry-blush);
  border-bottom: 1px solid var(--nova-pink);
  border-top: 1px solid var(--nova-pink);
  color: var(--nova-pink);
  padding: desktop-vw(16px) 0;
  position: relative;
  z-index: 100;

  @include mobile {
    padding: mobile-vw(16px) 0;
  }

  .marqueeItem {
    font-family: var(--font-poppins);
    font-size: desktop-vw(24px);
    font-style: italic;
    font-weight: 800;
    margin: 0 desktop-vw(50px);

    @include mobile {
      font-size: mobile-vw(24px);
      margin: 0 mobile-vw(25px);
    }
  }

  .imgC {
    @include dims(desktop-vw(44px));

    @include mobile {
      @include dims(mobile-vw(44px));
    }
  }
}

.shop {
  padding: desktop-vw(50px) desktop-vw(120px);
  position: relative;
  z-index: 100;

  @include mobile {
    margin-bottom: mobile-vw(30px);
    padding: mobile-vw(50px) mobile-vw(16px);
  }

  > h2 {
    @include dims(desktop-vw(610px), auto);
    color: var(--blue-ruin);
    font-family: var(--font-bomstad-display);
    font-size: desktop-vw(60px);
    font-weight: 900;
    line-height: 1;
    margin-bottom: desktop-vw(10px);
    text-align: center;

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(60px);
      margin-bottom: mobile-vw(10px);
    }
  }

  > p {
    color: var(--blue-ruin);
    font-family: var(--font-poppins);
    font-size: desktop-vw(18px);
    font-weight: 400;
    margin-bottom: desktop-vw(50px);
    text-align: center;

    @include mobile {
      font-size: mobile-vw(18px);
      margin-bottom: mobile-vw(50px);
    }
  }

  .card {
    @include dims(auto);

    .button {
      @include dims(100%, desktop-vw(40px));
      color: var(--sugar-milk);
      font-size: desktop-vw(14px);
      font-weight: 900;
      padding: desktop-vw(8px) 0;
      position: relative;
      transition: 300ms all ease;

      @include mobile {
        @include dims(mobile-vw(140px), mobile-vw(40px));
        font-size: mobile-vw(14px);
        padding: mobile-vw(8px) 0;
      }

      span {
        transition: 200ms all ease;
      }

      &::before {
        content: "";
        @include position(absolute, 0, 0, 0, 0);
        background-color: var(--blue-ruin);
        border-radius: desktop-vw(8px);
        transition: 200ms all ease;
        z-index: -1;

        @include mobile {
          border-radius: mobile-vw(8px);
        }
      }

      &:nth-child(2) {
        color: var(--blue-ruin);

        &::before {
          content: "";
          background-color: transparent;
          color: var(--blue-ruin);
          border: 1px solid var(--blue-ruin);
        }

        @include hover {
          &:hover {
            span {
              transform: scale(1.2);
            }
          }
        }
      }

      @include hover {
        &:hover {
          color: var(--blue-ruin);

          &::before {
            background-color: transparent;
            color: var(--blue-ruin);
            border: 1px solid var(--blue-ruin);
          }
        }
      }
    }
  }
}

.theStory {
  border-radius: desktop-vw(60px);
  color: var(--blue-ruin);
  position: relative;

  @include mobile {
    border-radius: mobile-vw(16px);
  }

  .iconC {
    @include dims(desktop-vw(120px), auto);
    margin-top: desktop-vw(-100px);

    @include mobile {
      @include dims(mobile-vw(60px), auto);
      margin-top: mobile-vw(-100px);
    }
  }

  .title {
    font-family: var(--font-bomstad-display);
    font-size: desktop-vw(50px);
    font-weight: 900;
    line-height: 1;
    margin-bottom: desktop-vw(60px);
    position: relative;
    text-align: center;

    @include mobile {
      font-size: mobile-vw(80px);
      margin-bottom: mobile-vw(70px);
    }

    .bg {
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(desktop-vw(850px));
      pointer-events: none;
      transform: translate(-50%, -48%);
      z-index: 10;

      @include mobile {
        @include dims(mobile-vw(450px));
      }

      .transform {
        animation: rotate 160s linear infinite;
      }
    }

    > span {
      display: block;
      position: relative;
      z-index: 20;

      &:nth-child(1) {
        font-size: desktop-vw(40px);
        margin-right: desktop-vw(150px);

        @include mobile {
          font-size: mobile-vw(20px);
          margin-right: mobile-vw(100px);
        }
      }

      &:nth-child(2) {
        font-size: desktop-vw(80px);

        @include mobile {
          font-size: mobile-vw(40px);
        }
      }

      &:nth-child(3) {
        font-size: desktop-vw(70px);
        margin-left: desktop-vw(100px);

        @include mobile {
          font-size: mobile-vw(35px);
          margin-left: mobile-vw(60px);
        }
      }
    }
  }

  .desc {
    @include dims(desktop-vw(740px), auto);
    margin-bottom: desktop-vw(50px);
    text-align: center;

    @include mobile {
      @include dims(mobile-vw(320px), auto);
      margin-bottom: mobile-vw(30px);
    }
  }

  .p {
    font-family: var(--font-poppins);
    font-size: desktop-vw(20px);
    font-weight: 500;
    line-height: 1.5;

    @include mobile {
      font-size: mobile-vw(18px);
      line-height: 1.5;
      text-align: center;
    }
  }

  .button {
    @include dims(desktop-vw(300px), desktop-vw(64px));
    margin-bottom: desktop-vw(90px);
  }

  .cookie {
    z-index: 100;

    &.cookie3 {
      @include position(absolute, desktop-vw(200px), auto, auto, desktop-vw(1200px));
      @include dims(desktop-vw(120px));

      @include mobile {
        @include position(absolute, mobile-vw(40px), auto, auto, mobile-vw(310px));
        @include dims(mobile-vw(50px));
      }
    }
  }
}

.testimonials {
  .imgC {
    @include dims(auto, desktop-vw(600px));

    @include mobile {
      @include dims(auto, mobile-vw(300px));
    }
  }

  .sliderC {
    @include dims(desktop-vw(650px), auto);

    @include mobile {
      @include dims(100vw, auto);
    }
  }

  .item {
    @include dims(100%, auto);

    .title {
      @include dims(desktop-vw(450px), auto);
      color: var(--blue-ruin);
      font-family: var(--font-poppins);
      font-size: desktop-vw(24px);
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: desktop-vw(30px);
      text-align: center;

      @include mobile {
        @include dims(mobile-vw(300px), auto);
        font-size: mobile-vw(16px);
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: mobile-vw(30px);
      }
    }

    .description {
      @include dims(desktop-vw(450px), auto);
      color: var(--blue-ruin);
      font-family: var(--font-poppins);
      font-size: desktop-vw(18px);
      font-weight: 700;
      line-height: 1.3;
      text-align: center;

      @include mobile {
        @include dims(mobile-vw(300px), auto);
        font-size: mobile-vw(14px);
        line-height: 1.5;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
