.upgrade {
  border: 1px solid var(--blue-ruin);
  font-family: var(--font-bomstad-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
}
.editSellingPlan {
  width: auto;
  height: 36px;
  color: var(--blue-ruin);
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 12px;
  }

  .selectSubscription {
    width: auto;
    height: 36px;
    flex: 1;
  }

  .selectTrigger {
    width: auto;
    height: 36px;
    border: 1px solid var(--blue-ruin);
    border-radius: 8px;
    color: var(--blue-ruin);
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 600;
    padding: 0 16px;

    @media (max-width: 768px) {
      border-radius: 6px;
      font-size: 14px;
      padding: 0 12px;
    }
  }

  .removeSubscription {
    width: 36px;
    height: 36px;
    border: 1px solid var(--blue-ruin);
    border-radius: 8px;
  }

  .closeButton {
    padding: 10px;
  }
}

.upgradeToSubscription {
  border: 1px solid var(--blue-ruin);
  border-radius: 8px;
  color: var(--blue-ruin);
  font-family: var(--font-bomstad-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 11px 0;
}

.msi {
  background-color: var(--sugar-milk);
  border: 1px solid var(--blue-ruin);

  .item {
    color: var(--blue-ruin);
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 8px;
    transition: 300ms all ease;

    @media (max-width: 768px) {
      font-size: 16px;
      padding: 12px 8px;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--secondary);
      }
    }
  }
}
