.productHighlight {
  @include dims(100vw, 100vh);
  overflow: hidden;

  @include tablet {
    @include dims(100vw, desktop-vw(700px));
  }

  @include mobile {
    @include dims(auto);
  }

  .panel {
    @include dims(desktop-vw(700px), auto);
    flex-shrink: 0;

    &:first-child {
      margin-left: desktop-vw(350px);
    }
  }

  .text {
    margin-bottom: desktop-vw(70px);
    margin-top: desktop-vw(-75px);

    @include mobile {
      margin-bottom: mobile-vw(50px);
    }

    h2 {
      @include dims(desktop-vw(400px), auto);
      color: var(--nova-pink);
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(40px);
      font-weight: 900;
      line-height: 1;
      margin-bottom: desktop-vw(16px);
      text-align: center;

      @include mobile {
        @include dims(auto);
        font-size: mobile-vw(60px);
        margin-bottom: mobile-vw(10px);
      }
    }

    p {
      color: var(--nova-pink);
      font-family: var(--font-poppins);
      font-size: desktop-vw(16px);
      font-weight: 400;
      text-align: center;

      @include mobile {
        font-size: mobile-vw(18px);
      }
    }
  }

  .item {
    @include dims(desktop-vw(400px));
    flex-shrink: 0;

    .button {
      @include dims(desktop-vw(220px), desktop-vw(65px));
      border: 1px solid var(--blue-ruin);
      border-radius: desktop-vw(8px);
      color: var(--blue-ruin);
      flex-shrink: 0;
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(24px);
      font-weight: 900;
    }
  }
}
