.productPage {
  background-color: var(--sugar-milk);
  color: var(--text-color);

  .intro {
    padding: 0 desktop-vw(120px) 0 desktop-vw(80px);

    @include mobile {
      padding: 0 mobile-vw(16px);
    }

    .productTitle {
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(32px);
      font-weight: 900;
      line-height: 1;
      margin-bottom: desktop-vw(10px);

      @include mobile {
        @include dims(mobile-vw(300px), auto);
        font-size: mobile-vw(32px);
        line-height: 1.25;
        margin-bottom: mobile-vw(16px);
        text-align: center;
      }
    }

    .productPackInfo {
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(16px);
      font-weight: 500;
      line-height: 1;
      margin-bottom: desktop-vw(30px);

      @include mobile {
        font-size: mobile-vw(15px);
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }
    }

    .productDescription {
      font-family: var(--font-poppins);
      font-size: desktop-vw(14px);
      font-weight: 400;
      margin-bottom: desktop-vw(50px);

      @include mobile {
        font-size: mobile-vw(16px);
        line-height: 2;
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }

      > p {
        margin-bottom: desktop-vw(16px);

        @include mobile {
          margin-bottom: mobile-vw(16px);
        }
      }
    }
  }

  .specs {
    .spec {
      position: relative;

      &:not(&:last-child) {
        &::before {
          content: "";
          @include position(absolute, auto, 0, 0, 0);
          @include dims(100%, 1px);
          background-color: var(--bg-color);
          border-radius: inherit;
          opacity: 0.3;
          transition: 400ms background-color ease;
          z-index: 5;
        }
      }

      .title {
        font-family: var(--font-bomstad-display);
        font-size: desktop-vw(32px);
        font-weight: 900;

        @include mobile {
          font-size: mobile-vw(28px);
          line-height: 1.25;
        }
      }

      .description {
        font-family: var(--font-poppins);
        font-size: desktop-vw(15px);
        font-weight: 400;
        line-height: 1.5;

        @include mobile {
          font-size: mobile-vw(14px);
          line-height: 1.5;
        }
      }

      .accordionTrigger {
        color: var(--text-color);
      }
    }
  }

  .reviews {
    background-color: var(--text-color);
    color: var(--sugar-milk);
    padding: 0 desktop-vw(80px);
    position: relative;

    @include mobile {
      padding: 0 mobile-vw(16px);
    }

    .cloudTop {
      @include position(absolute, desktop-vw(50px), 0, auto, 0);
      @include dims(100%, desktop-vw(150px));
      transform: translateY(-100%);
      z-index: 0;
    }

    .cloudBottom {
      @include position(absolute, auto, 0, desktop-vw(50px), 0);
      @include dims(100%, desktop-vw(150px));
      transform: translateY(100%);
      z-index: 0;
    }
  }

  .relatedProducts {
    padding: desktop-vw(50px) desktop-vw(80px);
    position: relative;
    z-index: 100;

    @include mobile {
      margin-bottom: mobile-vw(30px);
      padding: mobile-vw(50px) mobile-vw(16px);
    }

    > h2 {
      @include dims(desktop-vw(610px), auto);
      color: var(--blue-ruin);
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(60px);
      font-weight: 900;
      line-height: 1;
      margin-bottom: desktop-vw(10px);
      text-align: center;

      @include mobile {
        @include dims(auto);
        font-size: mobile-vw(60px);
        margin-bottom: mobile-vw(10px);
      }
    }

    > p {
      color: var(--blue-ruin);
      font-family: var(--font-poppins);
      font-size: desktop-vw(18px);
      font-weight: 400;
      margin-bottom: desktop-vw(50px);
      text-align: center;

      @include mobile {
        font-size: mobile-vw(18px);
        margin-bottom: mobile-vw(50px);
      }
    }

    .card {
      @include dims(desktop-vw(280px), desktop-vw(360px));

      .button {
        @include dims(100%, desktop-vw(40px));
        color: var(--sugar-milk);
        font-size: desktop-vw(14px);
        font-weight: 900;
        padding: desktop-vw(8px) 0;
        position: relative;
        transition: 300ms all ease;

        @include mobile {
          @include dims(mobile-vw(140px), mobile-vw(40px));
          font-size: mobile-vw(14px);
          padding: mobile-vw(8px) 0;
        }

        span {
          transition: 200ms all ease;
        }

        &::before {
          content: "";
          @include position(absolute, 0, 0, 0, 0);
          background-color: var(--blue-ruin);
          border-radius: desktop-vw(8px);
          transition: 200ms all ease;
          z-index: -1;

          @include mobile {
            border-radius: mobile-vw(8px);
          }
        }

        &:nth-child(2) {
          color: var(--blue-ruin);

          &::before {
            content: "";
            background-color: transparent;
            color: var(--blue-ruin);
            border: 1px solid var(--blue-ruin);
          }

          @include hover {
            &:hover {
              span {
                transform: scale(1.2);
              }
            }
          }
        }

        @include hover {
          &:hover {
            color: var(--blue-ruin);

            &::before {
              background-color: transparent;
              color: var(--blue-ruin);
              border: 1px solid var(--blue-ruin);
            }
          }
        }
      }
    }
  }
}
