.slide {
  width: 100vw;
  padding: 0 mobile-vw(40px);

  .animation-c {
    opacity: 0.8;
    transition: 700ms all ease;
    transform: scale(0.6);
    pointer-events: none;

    &.active {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
    }
  }
}

.nextButton,
.prevButton {
  @include dims(mobile-vw(24px));
  z-index: 10;

  @include mobile {
    @include dims(mobile-vw(30px));
  }
}
.nextButton {
  @include position(absolute, 30%, 0, auto, auto);
  transform: translateY(-50%);

  @include mobile {
    right: mobile-vw(40px);
  }
}
.prevButton {
  @include position(absolute, 30%, auto, auto, 0);
  transform: translateY(-50%);

  @include mobile {
    left: mobile-vw(40px);
  }
}
.emblaButtonDisabled {
  opacity: 0.3;
}
