.slide {
  width: 100vw;
  padding: 0 40px;

  .animation-c {
    opacity: 0.8;
    transition: 700ms all ease;
    transform: scale(0.6);
    pointer-events: none;

    &.active {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
    }
  }
}

.nextButton,
.prevButton {
  width: 24px;
  height: 24px;
  z-index: 10;

  @media (max-width: 800px) {
    width: 30px;
    height: 30px;
  }
}
.nextButton {
  position: absolute;
  top: 30%;
  right: 0;
  bottom: auto;
  left: auto;
  transform: translateY(-50%);

  @media (max-width: 800px) {
    right: 40px;
  }
}
.prevButton {
  position: absolute;
  top: 30%;
  right: auto;
  bottom: auto;
  left: 0;
  transform: translateY(-50%);

  @media (max-width: 800px) {
    left: 40px;
  }
}
.emblaButtonDisabled {
  opacity: 0.3;
}
