.footer {
  background-color: var(--blue-ruin);
  color: var(--sugar-milk);
  padding: desktop-vw(60px);
  padding-top: 0;
  position: relative;
  z-index: z-index("footer");

  @include mobile {
    padding: mobile-vw(60px) mobile-vw(16px);
  }

  .cloud {
    @include position(absolute, desktop-vw(50px), 0, auto, 0);
    @include dims(100%, desktop-vw(150px));
    transform: translateY(-100%);
    z-index: -1;
  }

  .actions {
    > h6 {
      color: var(--sugar-milk);
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(50px);
      font-weight: 900;
      line-height: 1.1;
      margin-bottom: desktop-vw(10px);

      @include mobile {
        font-size: mobile-vw(45px);
        line-height: 1.1;
        margin-bottom: mobile-vw(20px);
        text-align: center;
      }
    }

    > p {
      @include dims(desktop-vw(400px), auto);
      color: var(--sugar-milk);
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(18px);
      font-weight: 400;
      line-height: 1.3;

      @include mobile {
        @include dims(auto);
        font-size: mobile-vw(18px);
        line-height: 1.5;
        margin-bottom: mobile-vw(20px);
        text-align: center;
      }
    }

    .subscribe {
      margin-bottom: desktop-vw(60px);

      @include mobile {
        margin-bottom: mobile-vw(60px);
      }
    }
  }

  .nav {
    margin-right: desktop-vw(125px);

    .navItem {
      color: var(--sugar-milk);
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(18px);
      font-weight: 500;
      line-height: 1.1;

      @include mobile {
        font-size: mobile-vw(22px);
        line-height: 1.2;
        text-align: center;
      }
    }
  }

  .packages {
    transform: translateX(150px);

    @include mobile {
      margin-bottom: mobile-vw(50px);
      transform: unset;
    }

    .imgC {
      @include dims(desktop-vw(300px));

      @include mobile {
        @include dims(mobile-vw(200px));
      }

      &:nth-child(1) {
        margin-left: desktop-vw(-70px);
        margin-top: desktop-vw(-220px);
        z-index: 20;

        @include mobile {
          margin-left: mobile-vw(-10px);
          margin-top: mobile-vw(-220px);
        }
      }

      &:nth-child(2) {
        margin-left: desktop-vw(-150px);
        margin-top: desktop-vw(-270px);
        z-index: 10;

        @include mobile {
          margin-left: mobile-vw(-20px);
          margin-top: mobile-vw(-220px);
        }
      }

      &:nth-child(3) {
        margin-right: desktop-vw(-250px);
        margin-top: desktop-vw(-140px);
        z-index: 40;

        @include mobile {
          margin-left: mobile-vw(-10px);
          margin-top: mobile-vw(-140px);
        }
      }

      &:nth-child(4) {
        margin-left: desktop-vw(-130px);
        margin-top: desktop-vw(-170px);
        z-index: 30;

        @include mobile {
          margin-left: mobile-vw(-30px);
          margin-top: mobile-vw(-140px);
        }
      }
    }
  }

  .copyright {
    color: var(--sugar-milk);
    font-family: var(--font-bomstad-display);
    font-size: desktop-vw(18px);
    font-weight: 500;
    padding: desktop-vw(40px) 0;

    * {
      fill: var(--sugar-milk);
    }

    @include mobile {
      font-size: mobile-vw(16px);
      padding: mobile-vw(50px) mobile-vw(16px);
    }

    .c {
      @include mobile {
        order: 2;
      }
    }

    .social {
      @include mobile {
        order: 1;
      }
    }

    .iconC {
      @include dims(desktop-vw(30px));

      @include mobile {
        @include dims(mobile-vw(30px));
      }
    }

    .signature {
      transition: 200ms color ease;

      @include mobile {
        order: 3;
      }

      @include hover {
        &:hover {
          color: var(--purple-cactus-flower);
        }
      }
    }
  }

  .bg {
    @include position(absolute, auto, auto, auto, 50%);
    @include dims(desktop-vw(1700px), desktop-vw(400px));
    transform: translate(-50%, desktop-vw(-200px));
    z-index: -1;

    @include mobile {
      @include dims(mobile-vw(700px), mobile-vw(100px));
      transform: translate(-50%, mobile-vw(-150px));
    }
  }

  .cookie {
    pointer-events: none;
    z-index: 100;

    &.cookie1 {
      @include position(absolute, desktop-vw(-100px), auto, auto, desktop-vw(50px));
      @include dims(desktop-vw(100px));

      @include mobile {
        @include position(absolute, mobile-vw(50px), auto, auto, mobile-vw(20px));
        @include dims(mobile-vw(50px));
      }
    }

    &.cookie2 {
      @include position(absolute, desktop-vw(-125px), auto, auto, desktop-vw(800px));
      @include dims(desktop-vw(120px));

      @include mobile {
        @include position(absolute, mobile-vw(300px), auto, auto, mobile-vw(300px));
        @include dims(mobile-vw(50px));
      }
    }

    &.cookie3 {
      @include position(absolute, desktop-vw(0px), desktop-vw(300px), auto, auto);
      @include dims(desktop-vw(94px));

      @include mobile {
        @include position(absolute, mobile-vw(40px), auto, auto, mobile-vw(310px));
        @include dims(mobile-vw(50px));
      }
    }

    &.cookie4 {
      @include position(absolute, desktop-vw(-75px), desktop-vw(-100px), auto, auto);
      @include dims(desktop-vw(260px));

      @include mobile {
        @include position(absolute, mobile-vw(0px), desktop-vw(50px), auto, auto);
        @include dims(mobile-vw(40px));
      }
    }

    &.cookie5 {
      @include position(absolute, desktop-vw(50px), auto, auto, desktop-vw(750px));
      @include dims(desktop-vw(100px));

      @include mobile {
        @include position(absolute, mobile-vw(180px), auto, auto, mobile-vw(300px));
        @include dims(mobile-vw(10px));
      }
    }
  }
}
