.products {
  padding: desktop-vw(50px) desktop-vw(80px);
  padding-bottom: desktop-vw(150px);
  position: relative;
  z-index: 100;

  @include mobile {
    margin-bottom: mobile-vw(30px);
    padding: mobile-vw(50px) mobile-vw(16px);
  }

  > h2 {
    @include dims(desktop-vw(610px), auto);
    color: var(--blue-ruin);
    font-family: var(--font-bomstad-display);
    font-size: desktop-vw(60px);
    font-weight: 900;
    line-height: 1;
    margin-bottom: desktop-vw(10px);
    text-align: center;

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(60px);
      margin-bottom: mobile-vw(10px);
    }
  }

  > p {
    color: var(--blue-ruin);
    font-family: var(--font-poppins);
    font-size: desktop-vw(18px);
    font-weight: 400;
    margin-bottom: desktop-vw(50px);
    text-align: center;

    @include mobile {
      font-size: mobile-vw(18px);
      margin-bottom: mobile-vw(50px);
    }
  }

  .card {
    @include dims(auto);

    @include mobile {
      @include dims(100vw, auto);
    }

    .button {
      color: var(--sugar-milk);
      font-size: desktop-vw(14px);
      font-weight: 900;
      padding: desktop-vw(10px) 0;
      position: relative;
      transition: 300ms all ease;

      span {
        transition: 200ms all ease;
      }

      &::before {
        content: "";
        @include position(absolute, 0, 0, 0, 0);
        background-color: var(--blue-ruin);
        border-radius: desktop-vw(8px);
        transition: 200ms all ease;
        z-index: -1;
      }

      &:nth-child(2) {
        color: var(--blue-ruin);

        &::before {
          content: "";
          background-color: transparent;
          color: var(--blue-ruin);
          border: 1px solid var(--blue-ruin);
        }

        @include hover {
          &:hover {
            span {
              transform: scale(1.2);
            }
          }
        }
      }

      @include hover {
        &:hover {
          color: var(--blue-ruin);

          &::before {
            background-color: transparent;
            color: var(--blue-ruin);
            border: 1px solid var(--blue-ruin);
          }
        }
      }
    }
  }

  .flavorsMobile {
    @include dims(100vw, auto);
  }
}
