.quantity {
  border: 1px solid var(--text-color);
  border-radius: desktop-vw(8px);
  color: var(--text-color);
  font-family: var(--font-poppins);
  font-size: desktop-vw(14px);
  font-weight: 600;

  @include mobile {
    border-radius: mobile-vw(8px);
    font-size: mobile-vw(14px);
  }
}
