.featureHighlight {
  border-radius: desktop-vw(60px);
  font-family: var(--font-poppins);
  position: relative;
  text-align: center;

  @include mobile {
    border-radius: mobile-vw(16px);
  }

  .heading {
    @include dims(desktop-vw(710px), auto);
    color: var(--blue-ruin);
    font-family: var(--font-bomstad-display);
    font-size: desktop-vw(60px);
    font-weight: 900;
    line-height: 1;
    margin-bottom: desktop-vw(50px);
    text-align: center;

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(45px);
      line-height: 1.1;
      margin-bottom: mobile-vw(150px);
      padding: 0 mobile-vw(16px);
    }
  }

  .stickerC {
    @include position(absolute, desktop-vw(100px), desktop-vw(150px), auto, auto);
    @include dims(desktop-vw(380px));
    transform: translate(25%, 25%);

    @include mobile {
      @include position(absolute, mobile-vw(130px), mobile-vw(16px), auto, auto);
      @include dims(mobile-vw(180px));
      transform: translate(15%, 25%);
    }
  }

  .cardC {
    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      transform: rotate(8deg);

      @include mobile {
        transform: rotate(-8deg);
      }
    }

    &:nth-child(2n) {
      margin-top: desktop-vw(200px);

      @include mobile {
        margin-top: 0;
        transform: rotate(8deg);
        z-index: 10;
      }
    }
  }

  .card {
    @include dims(desktop-vw(360px), desktop-vw(380px));
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    border-radius: desktop-vw(32px);
    position: relative;
    transform: rotate(-6deg);
    margin-bottom: desktop-vw(-200px);
    padding: desktop-vw(30px) desktop-vw(20px);
    text-align: left;

    @include mobile {
      @include dims(mobile-vw(300px), auto);
      border-radius: mobile-vw(16px);
      margin-bottom: desktop-vw(-200px);
      padding: mobile-vw(30px) mobile-vw(20px);
      padding-bottom: mobile-vw(100px);
    }

    .title {
      color: var(--text-color);
      font-family: var(--font-bomstad-display);
      font-size: desktop-vw(40px);
      font-weight: 700;
      line-height: 1;
      margin-bottom: desktop-vw(30px);
      position: relative;

      @include mobile {
        font-size: mobile-vw(28px);
        margin-bottom: mobile-vw(16px);
      }
    }

    .desc {
      color: var(--text-color);
      font-family: var(--font-poppins);
      font-size: desktop-vw(22px);
      font-weight: 400;
      line-height: 1.5;

      @include mobile {
        font-size: mobile-vw(16px);
      }
    }

    .iconC {
      @include position(absolute, auto, 0, 0, auto);
      @include dims(desktop-vw(190px));
      transform: translate(20%, 20%);

      @include mobile {
        @include dims(mobile-vw(120px));
        transform: translate(20%, 20%);
      }
    }
  }

  .cookie {
    z-index: 100;

    &.cookie1 {
      @include position(absolute, desktop-vw(200px), auto, auto, desktop-vw(50px));
      @include dims(desktop-vw(120px));

      @include mobile {
        @include position(absolute, mobile-vw(250px), auto, auto, mobile-vw(10px));
        @include dims(mobile-vw(60px));
      }
    }

    &.cookie2 {
      @include position(absolute, desktop-vw(50px), auto, auto, desktop-vw(1200px));
      @include dims(desktop-vw(132px));

      @include mobile {
        @include position(absolute, mobile-vw(600px), auto, auto, mobile-vw(10px));
        @include dims(mobile-vw(50px));
      }
    }

    &.cookie3 {
      @include position(absolute, desktop-vw(1200px), auto, auto, desktop-vw(1200px));
      @include dims(desktop-vw(120px));

      @include mobile {
        @include position(absolute, mobile-vw(540px), auto, auto, mobile-vw(310px));
        @include dims(mobile-vw(50px));
      }
    }

    &.cookie4 {
      @include position(absolute, desktop-vw(1100px), auto, auto, desktop-vw(-150px));
      @include dims(desktop-vw(260px));

      @include mobile {
        @include position(absolute, mobile-vw(1090px), auto, auto, mobile-vw(10px));
        @include dims(mobile-vw(40px));
      }
    }

    &.cookie5 {
      @include position(absolute, desktop-vw(1000px), auto, auto, desktop-vw(1300px));
      @include dims(desktop-vw(160px));

      @include mobile {
        @include position(absolute, mobile-vw(880px), auto, auto, mobile-vw(300px));
        @include dims(mobile-vw(35px));
      }
    }
  }

  .flyingCookie {
    @include position(absolute, auto, auto, 0, desktop-vw(50px));
    @include dims(desktop-vw(520px));
    transform: translateY(50%);
    z-index: 100;

    @include mobile {
      @include position(absolute, auto, auto, mobile-vw(-10px), 50%);
      @include dims(mobile-vw(340px));
      transform: translateX(-50%);
    }
  }
}
