@font-face {
  font-family: "BomstadDisplay";
  src:
    url("/fonts/bomstad-display/BomstadDisplay-Black.woff") format("woff"),
    url("/fonts/bomstad-display/BomstadDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "BomstadDisplay";
  src:
    url("/fonts/bomstad-display/BomstadDisplay-ExtraBold.woff") format("woff"),
    url("/fonts/bomstad-display/BomstadDisplay-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "BomstadDisplay";
  src:
    url("/fonts/bomstad-display/BomstadDisplay-Bold.woff") format("woff"),
    url("/fonts/bomstad-display/BomstadDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "BomstadDisplay";
  src:
    url("/fonts/bomstad-display/BomstadDisplay-SemiBold.woff") format("woff"),
    url("/fonts/bomstad-display/BomstadDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "BomstadDisplay";
  src:
    url("/fonts/bomstad-display/BomstadDisplay-Medium.woff") format("woff"),
    url("/fonts/bomstad-display/BomstadDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "BomstadDisplay";
  src:
    url("/fonts/bomstad-display/BomstadDisplay-Regular.woff") format("woff"),
    url("/fonts/bomstad-display/BomstadDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "BomstadDisplay";
  src:
    url("/fonts/bomstad-display/BomstadDisplay-Light.woff") format("woff"),
    url("/fonts/bomstad-display/BomstadDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "BomstadDisplay";
  src:
    url("/fonts/bomstad-display/BomstadDisplay-ExtraLight.woff") format("woff"),
    url("/fonts/bomstad-display/BomstadDisplay-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "BomstadDisplay";
  src:
    url("/fonts/bomstad-display/BomstadDisplay-Thin.woff") format("woff"),
    url("/fonts/bomstad-display/BomstadDisplay-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}
