.default {
  background-color: var(--sugar-milk);
  border: 1px solid var(--blue-ruin);
  color: var(--blue-ruin);
  display: inline-flex;
  font-family: var(--font-bomstad-display);
  font-weight: 900;
  line-height: 1;
  transition: 200ms all ease;

  @include hover {
    &:hover {
      background-color: var(--blue-ruin);
      border: 1px solid var(--sugar-milk);
      color: var(--sugar-milk);
    }
  }
}

.ghost {
  background-color: transparent;
  border: 1px solid var(--blue-ruin);
  color: var(--blue-ruin);
  display: inline-flex;
  font-family: var(--font-bomstad-display);
  font-weight: 900;
  line-height: 1;
  transition: 200ms all ease;

  @include hover {
    &:hover {
      background-color: var(--blue-ruin);
      border: 1px solid var(--sugar-milk);
      color: var(--sugar-milk);
    }
  }
}

.themed {
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  color: var(--sugar-milk);
  display: inline-flex;
  font-family: var(--font-bomstad-display);
  font-weight: 600;
  line-height: 1;
  transition: 200ms all ease;

  @include hover {
    &:hover {
      background-color: var(--bg-color);
      border: 1px solid var(--text-color);
      color: var(--text-color);
    }
  }
}

.naked {
  background-color: transparent;
  display: inline-flex;
  font-family: var(--font-bomstad-display);
  font-weight: 900;
  line-height: 1;
  transition: 200ms all ease;
}

.defaultSize {
  font-size: desktop-vw(24px);
  padding: desktop-vw(20px) desktop-vw(40px);

  @include mobile {
    font-size: mobile-vw(20px);
    padding: mobile-vw(16px) mobile-vw(32px);
  }
}
