.default {
  font-family: var(--font-bomstad-display);
  font-weight: 700;
  line-height: 1;
  transition: 200ms all ease;
}

.blueRuin {
  background-color: var(--blue-ruin);
  border: 1px solid var(--blue-ruin);
  color: var(--sugar-milk);

  @include hover {
    &:hover {
      background-color: var(--sugar-milk);
      color: var(--blue-ruin);
    }
  }
}

.invertedBlueRuin {
  background-color: var(--sugar-milk);
  border: 1px solid var(--blue-ruin);
  color: var(--blue-ruin);

  @include hover {
    &:hover {
      background-color: var(--blue-ruin);
      border: 1px solid var(--blue-ruin);
      color: var(--sugar-milk);
    }
  }
}

.themed {
  background-color: var(--sugar-milk);
  border: 1px solid var(--text-color);
  color: var(--text-color);

  @include hover {
    &:hover {
      background-color: var(--text-color);
      color: var(--sugar-milk);
    }
  }
}

.invertedThemed {
  background-color: var(--text-color);
  border: 1px solid var(--sugar-milk);
  color: var(--sugar-milk);

  @include hover {
    &:hover {
      background-color: var(--sugar-milk);
      color: var(--text-color);
    }
  }
}

.nakedBlueRuin {
  background-color: transparent;
  border: none;
  color: var(--blue-ruin);
}

.nakedThemed {
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

.nakedFull {
  background-color: transparent;
  border: none;
  color: var(--sugar-milk);
}

.sm {
  font-size: desktop-vw(16px);

  @include mobile {
    font-size: mobile-vw(15px);
  }
}

.md {
  font-size: desktop-vw(24px);

  @include mobile {
    font-size: mobile-vw(20px);
  }
}

.lg {
  font-size: desktop-vw(30px);

  @include mobile {
    font-size: mobile-vw(30px);
  }
}
