@import './_reset.scss';
@import './_fonts.scss';
@import './_colors.scss';
@import './_easings.scss';
@import './_functions.scss';
// @import './_layout.scss';
@import './_utils.scss';
// @import "./_themes.scss";
/* @import "./_scroll.scss"; */

:root {
  --header-height: #{desktop-vw(80px)};
  --noticebar-height: #{desktop-vw(30px)};
  --page-padding-top: #{desktop-vw(50px)};
  --layout-spacing-x: #{desktop-vw(160px)};
  --font-bomstad-display: BomstadDisplay;

  @include mobile {
    --header-height: #{mobile-vw(60px)};
    --page-padding-top: #{mobile-vw(30px)};
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: auto;
  // scrollbar-width: thin;
  // @extend .noSelect;
}

html,
body {
  overscroll-behavior: none;
}

body {
  background-color: var(--sugar-milk);
  line-height: 1;
  min-height: 100vh;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.page-transition {
  opacity: 0;
}

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

*::selection {
  background-color: var(--blue-ruin);
  color: var(--sugar-milk);
}

input {
  @extend .remove-autofill-styles;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

sup {
  font-size: xx-small;
  vertical-align: super;
}

// Be sure markers on top
.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
  z-index: z-index('gsap-markers') !important;
}

.input-required {
  // box-shadow: var(--error) 0px 0px 0px 1px;
  color: var(--error) !important;
  transition: 200ms all ease;

  * {
    color: var(--error) !important;
    transition: 200ms all ease;
  }
}

.inherit-dims {
  height: inherit;
  width: inherit;
}

.cursor-none {
  cursor: none;

  * {
    cursor: none;
  }
}

.text-highlight {
  color: var(--white);
  font-style: italic;
  font-weight: 600;
  font-size: 1.1em;
  padding-right: 0.1ch;

  @include mobile {
    font-size: 1em;
    font-weight: 500;
    padding-right: unset;
  }
}

.buttonStyle {
  @include dims(desktop-vw(220px), desktop-vw(65px));
  border: 1px solid var(--blue-ruin);
  border-radius: desktop-vw(8px);
  color: var(--blue-ruin);
  flex-shrink: 0;
  font-family: var(--font-bomstad-display);
  font-size: desktop-vw(24px);
  font-weight: 900;
}

.okendo-widget-container {
  font-family: var(--font-poppins);
}

.okeReviews .okeReviews-reviewsWidget-header-controls-writeReview {
  visibility: visible;
}

.okeReviews .okeReviews-reviewsWidget.is-okeReviews-empty {
  display: block;
}

.oke-w-header,
.oke-w-controls {
  display: none !important;
}

.oke-stars-background {
  opacity: 0 !important;
}

.oke-w-reviewMinimal-footer {
  display: none !important;
}

.modal-z-index {
  z-index: z-index('modal') !important;
}

.modal-content-z-index {
  z-index: z-index('modal') !important;
}

[data-radix-popper-content-wrapper] {
  z-index: z-index('preloader') !important;

  @include mobile {
    max-height: mobile-vw(160px);
  }
}

.msix {
  background-color: var(--sugar-milk);
  border: 1px solid var(--blue-ruin);

  .item {
    color: var(--blue-ruin);
    font-family: var(--font-poppins);
    font-size: desktop-vw(16px);
    font-weight: 500;
    padding: desktop-vw(12px) desktop-vw(8px);
    transition: 300ms all ease;

    @include mobile {
      font-size: mobile-vw(16px);
      padding: mobile-vw(12px) mobile-vw(8px);
    }

    @include hover {
      &:hover {
        background-color: var(--columbia-blue);
      }
    }
  }
}
