.scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.scrollbar[data-visible] {
  opacity: 0.2;
  pointer-events: auto;
}

.thumb {
  width: 100%;
  background-color: var(--silverback);
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: grab;
  will-change: transform;
}

.thumb:active {
  cursor: grabbing;
}

@media (max-width: 768px) {
  .scrollbar {
    display: none;
  }
}
